<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Up</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="signup">
        <div class="heading">
            <h1>Sign Up</h1>
        </div>
        <div class="line"></div>
        <form method="POST">
            {% csrf_token %}
            <div class="filed">
                <div class="inp">Username:
                    <input type="text" required class="username intex" autofocus placeholder="Enter Name"
                        name="username">
                </div>
            </div>

            <div class="filed">
                <div class="inp">Password:
                    <input type="password" required class="pas intex" name="password">
                </div>
            </div>
            <div class="smtbtn">
                <input type="submit" required class="submit">
            </div>
            <div class="line"></div>
            <div class="next">
                <strong>Don't have account?</strong>
                <a href="/">create</a>
            </div>
        </form>
    </div>
</body>

</html>